*{
    padding: 0;
    margin: 0;
}
.item1 {
    grid-area: header; 
}
.item2 { 
    grid-area: menu; 
}
.item3 { 
    grid-area: main; 
}
.item4 { 
    grid-area: footer; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  gap: 5px;
  background: linear-gradient(blue, green);
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}

.grid-container > div {
  background-color: rgba(222, 218, 218, 0.8);
  text-align: center;
  padding: 60px 0;
  font-size: 30px;
}